<% if @name %>
<h1>My name is <%= @name %></h1>
<% else %>
<form action="/named-cat">
  Name:
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<% end %>
<div style='border: 4px dashed green'>
  <img src='http://bit.ly/1eze8aE'>
</div>
